NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:4200

DATABASE_URL=postgresql://it_service_desk_user:it_service_desk_password@localhost:5432/it_service_desk
DATABASE_URL_TEST=postgresql://it_service_desk_user:it_service_desk_test_password@localhost:5432/it_service_desk_test

POSTGRES_DB=it_service_desk
POSTGRES_USER=it_service_desk_user
POSTGRES_PASSWORD=it_service_desk_password
POSTGRES_PORT=5432
